body {
  background: #efeae9;
  background: linear-gradient(rgb(119, 119, 212), 10%,rgb(248, 248, 248));
  color: #7c7474;
  font-family: Calibri, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body header {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0;
  padding: 1em;
  text-align: center;
}

header h2 {
  margin: 0;
}
footer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  box-shadow: 5px 5px 5px #888;
  padding: 1.5em;
  margin: 1em 15em 1em 15em;
  background-color: #fff;
  color: #000;
}

article  h3 {
  border-bottom: 0px solid #000;
  font-size: 1.5em;
  margin-top: 0;
  text-align: center;
}
section h2{
    border-bottom: 0px solid #000;
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
}
section img{
  margin: 0 auto;
  display: block;
  border-radius: 70%;
}

article {
  background-color: rgba(153, 177, 209, 0.233);
  
  margin-left: 15%;
  margin-right: 15%;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p.estilo-1::first-letter{
	font-size:3em;
	font-family:serif;
}




