@font-face {
    font-family: 'Brush Script MT';
    /* Nombre que usarás para referenciar la fuente */
    src: url('fonts/brush-script-mt.woff') format('woff');
    /* Ruta del archivo de fuente */
    /* También puedes añadir otras versiones (e.g., woff2, ttf) para mayor compatibilidad */
}

body {
    color: #000000;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
}

header {

    background: linear-gradient(to right, #636FA4, #E8CBC0);
    background-color: #fff;
    color: #eae7e7;
    margin: 0;
    padding: 1em;
    text-align: left;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    background-color: #fff;
    color: #eae7e7;    
    text-align: center;
    padding: 2em;
}

nav {
    background-color: #333;
    color: #000000;
    text-align: center;
}

nav a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    background: rgb(133, 133, 213);
    color: #E8CBC0;
    padding: 10px;
}

nav a:active {
    background-color: #fff;
    color: #E8CBC0;
}

article {
    text-align: center;
    margin: 1px 15px 1px 15px;
}

h2 {
    text-align: center;
    font-family: 'Brush Script MT'
}

.minombre {
    font-family: 'Brush Script MT'
}

.img-custom {
    margin: auto;
    display: block;
    border-radius: 70%;
}

h3 {
    text-align: left;
}

h4 {
    text-align: left;
    margin-left: 2.5em;
}

section {

    text-align: left;
    margin-bottom: 10px;
    padding: .5em;



}

.contenido {
    background-color: rgba(187, 208, 234, 0.24);
    border-radius: 10px;
    color: #000000;
}

aside {
    text-align: center;
}

p.letra-capital:first-letter {
    font-size: 2em;
    font-weight: bold;
}

p {
    text-align: left;
    padding-left: 2.5em;
}

figure {
    border: 1px solid #ccc; 
    padding: 10px; 
    max-width: 300px; 
    margin: 0 auto; 
    text-align: center; 
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

figcaption {
    font-size: 14px; 
    margin-top: 10px; 
    color: #555; 
}
